.head-navbar{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0px;
    background-color: orange;
    color: white;
    height: 50px;
    width: 100%;
    border: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.search{
    margin-left: 700px;
    width: 200px;
    height: 100px;
    text-align: center;
    align-items: center;
}
.card-img-top {
  height: 150px;
  width: 150px;
  padding-top: 10px;
  border-radius: 20%;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .outer{
      border-radius: 20px;
      border:2px solid black;
      height: 200px;
  }
.flex{
  display: flex;
}
.info{
  width: 50%;
}
.list{
  width: 50%;
}
button {
  background-color: orange;
  border: 2px solid darkorange;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 3px;
}
.card{
  width: 300px;
  height: 300px;
  text-align: center;
  border: 2px solid black;
}